# Data Science Tools and Ecosystem

Objectives:
+ Popular languages for data Science 
+ Commonly used libraries used by data scientist
+ Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Numpy
3. Sci-kit

|Data Science Tools|
-----------------------------
|jupyter Notebook  |
-----------------------------
|r studio                  |
-----------------------------
|apache zeppelin    |
-----------------------------

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

## This will convert 200 minutes to hours by diving by 60

In [7]:
a = 200
b = a / 60
print("200 minutes is equal to",b,"hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Yannick TIENDREBEOGO